{% extends 'header.twig' %}

{% block title %}{{ parent() }}{% endblock %}

{% block body %}
<section>
    <form class="form-horizontal">
    <div class="form-group">
        <label for="genres" class="col-sm-2 control-label" >Trouver par genre :</label>
        <div class="col-sm-4">
            <select id="genres" class="form-control">
                <option value="0" selected>Tout</option>
                {% for genre in lesGenres %}
                    <option value="{{genre.code_genre}}">{{genre.nom_genre}}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    </form>
</section>
<section>
  <table id = "lesFilms">
    <thead>
      <tr>
        <td> CodeFilm </td>
        <td> Titre Original </td>
        <td> Titre Francais </td>
        <td> Pays </td>
        <td> Date </td>
        <td> Durée </td>
        <td> Couleur </td>
        <td> Réalisateur </td>
        <td> Modifier </td>
        <td> Supprimer </td>
      </tr>
    </thead>
    <tbody id = "corpsFilms">
        {% for film in lesFilms %}
      <tr id="{{film.code_film}}">
        <td> {{film.code_film}} </td>
        <td> {{film.titre_original}} </td>
        <td> {{film.titre_francais}} </td>
        <td> {{film.pays}} </td>
        <td> {{film.dates}} </td>
        <td> {{film.duree}} </td>
        <td class="couleur"> {{film.couleur}} </td>
        <td dataid="{{film.realisateur}}"> {{film.prenom~" "~film.nom}} </td>
        <td> <input value="Modifier" type="button" dataid="{{film.code_film}}" class="action btn btn-warning btn-sm" /> </td>
        <td> <input value="Supprimer" type="button" dataid="{{film.code_film}}" class="action btn btn-danger btn-sm"/> </td>
      </tr>
        {% endfor %}
    </tbody>
  </table>
</section>
<section>
  <input type = "button" id="add" value="Nouveau film" class="btn btn-success"/>

  <form id="addFilm" class="form-horizontal">
    {# Création du champs permettant d'editer de nouveaux films #}
    <div class="form-group">
        <label for="titreOriginal" class="col-sm-2 control-label"> Titre Original </label>
        <div class="col-sm-4">
            <input type="text" id="titreOriginal" name="titreOriginal">
        </div>
    </div>
    <div class="form-group">
        <label for="titreFrancais" class="col-sm-2 control-label"> Titre Francais </label>
        <div class="col-sm-4">
            <input type="text" id="titreFrancais" name="titreFrancais">
        </div>
    </div>
    <div class="form-group">
        <label for="couleur" class="col-sm-2 control-label">Couleur du film</label>
        <label>
            <input type="radio" name="couleur" value="NB"> Noir et Blanc
        </label>
        <label>
            <input type="radio" name="couleur" value="couleur" checked>Couleur
        </label>
        <label>
            <input type="radio" name="couleur" value="NB/couleur">Les deux
        </label>
    </div>
    <div class="form-group">
        <label for="pays" class="col-sm-2 control-label"> Pays </label>
        <div class="col-sm-4">
            <input type="text" id="pays" name="pays">
        </div>
    </div>
    <div class="form-group">
        <label for="date" class="col-sm-2 control-label"> Date </label>
        <div class="col-sm-4">
            <input type="date" id="date" name="date">
        </div>
    </div>
    <div class="form-group">
        <label for="duree" class="col-sm-2 control-label"> Durée </label>
        <div class="col-sm-4">
            <input type="number" id="duree" name="duree">
        </div>
    </div>
    <div class="form-group">
        <label for="reals" class="col-sm-2 control-label">Réalisateur</label>
        <div class="col-sm-2">
            <select id="reals" class="form-control">
                {% for real in lesReals %}
                    <option value="{{real.code_indiv}}">{{real.prenom}} {{real.nom}}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="col-sm-offset-2 col-sm-10">
        <input type="button" id="envoie" value="Envoyer"/>
    </div>
  </form>
</section>

{% endblock %}
